extends layout

block content
  h1= title
  p Welcome to CryptoBot's #{title}.  This service is responsible for relaying data to our UIs.
  span For more information, please see our OpenApi 
  a(href='./api-docs/') documentation
  span .
  